<div class="">
  <div class="pa3 ba b--light-silver br2">
    <h3 class="mt0 mb1">Add an Asset</h3>
    <ul class="list pl0 lh-copy mv0">
      <li class="di mr2 nowrap"><a href="javascript:void(0)">image</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">HTML</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">audio</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">npr video</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">slideshow</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">inset text</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">import assets</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">YouTube</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">vevo</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">VuHaus</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">infographic</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">e-commerce</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">tweet</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">api query</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">internal links</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">pull quote</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">list</a></li>
      <li class="di mr2 nowrap"><a href="javascript:void(0)">book edition</a></li>
    </ul>
  </div>
</div>
