<div class="fixed bg-black-50 w-100 h-100 top-0 z-1 overflow-scroll tracked-med">
  <div class="bg-white w-50 center-ab pa4 overflow-scroll mh-90">
    <h2 class="mt0 pt0 fl">Broadcast Associations</h2>
    <a class="cursor-pointer" href="javascript:void(0)" onclick="toggle_visibility('broadcast-associations');"><img class="fr w1" src="{{ site.baseurl }}/images/close.png"></a>
    <div class="cf"></div>
    <h3 class="mv2">Newsflex ID</h3>
    <input class="w-100 outline-0 b--black pa2 f6 ba mb3" type="text" value="">

    <h3 class="mb0">Assign Audio</h3>
    <div class="w-50 fl pr2">
      <h4 class="mb2">Select Program</h4>
      <select class="mt1 f6 w-100">
        <option>All Things Considered</option>
        <option>Morning Edition</option>
        <option>Performance Today</option>
        <option>Talk of the Nation</option>
        <option>Weekend Edition Saturday</option>
        <option>Weekend Edition Sunday</option>
        <option>News &amp; Notes</option>
        <option>Fresh Air</option>
        <option>Tavis Smiley</option>
        <option>The Motley Fool</option>
        <option>Special Coverage: Iraq</option>
        <option>Day To Day</option>
        <option>LatinoUSA</option>
        <option>Wait Wait... Don't Tell Me!</option>
        <option>Tell Me More</option>
        <option>The Bryant Park Project</option>
        <option>Ted Radio Hour</option>
        <option>Ask Me Another</option>
        <option>Here &amp; Now</option>
        <option>Science Firday</option>
        <option>Snap Judgement</option>
        <option>Invisibilia</option>
        <option>1A</option>
      </select>
    </div>
    <div class="w-50 fl pl2">
      <h4 class="mb2">Manually Assign URL</h4>
      <input class="w-100 outline-0 b--black pa2 f6 ba mb3" type="text" value="">
    </div>
    <div class="cf"></div>
  </div>
</div>
