<div class="fixed bg-black-50 w-100 h-100 top-0 z-1 overflow-scroll tracked-med">
  <div class="bg-white w-50 center-ab pa4 overflow-scroll mh-90">
    <h2 class="mt0 pt0 fl">Digital Associations</h2>
    <a class="cursor-pointer" href="javascript:void(0)" onclick="toggle_visibility('digital-associations');"><img class="fr w1" src="{{ site.baseurl }}/images/close.png"></a>
    <div class="cf"></div>
    <h3>Aggregations</h3>
    <input placeholder="start typing to find an aggregation" class="w-100 outline-0 b--black pa2 f3 ba mb4" type="text" value="">

    <h3 class="mb2 f5">Blog Category</h3>
    <select class="mt1 f6 w-50 mb2">
      <option>Independent Story</option>
    </select>

    <h3 class="mb2 f5">Series</h3>
    <select class="mt1 f6 w-50 mb2">
      <option>Independent Story</option>
    </select>

    <h3 class="mb2 f5">Helper Collection</h3>
    <select class="mt1 f6 w-50 mb2">
      <option>Independent Story</option>
    </select>

    <h3 class="mb2 f5">Music Genre</h3>
    <select class="mt1 f6 w-50 mb2">
      <option>Independent Story</option>
    </select>

    <h3 class="mb2 f5">Book Genre</h3>
    <select class="mt1 f6 w-50 mb2">
      <option>Independent Story</option>
    </select>
  </div>
</div>
