<div class="fixed bg-black-50 w-100 h-100 top-0 z-1">
  <div class="bg-white w-50 center-ab pa4 overflow-scroll mh-90">
    <h2 class="mt0 pt0 fl">Photo</h2>
    <a class="cursor-pointer" href="javascript:void(0)" onclick="toggle_visibility('photo-overlay-edit');"><img class="fr w1" src="{{ site.baseurl }}/images/close.png"></a>
    <div class="cf"></div>

    <div class="relative">
      <img class="mb2" src="{{ site.baseurl }}/images/dyslexia-brain-science_custom-58450f536025893566554175fb17634ce5aa7496-s1300-c85.jpg">
      <a href="javascript:void(0)"><img class="dim pa2 absolute top-0 right-0 w1" src="{{ site.baseurl }}/images/close.png"></a>
    </div>

    <!-- <h3>Available Assets</h3>
    <div>
      <img src="">
    </div> -->

    <p class="mb0 pb0">or <a href="javascript:void(0)">upload a new asset</a></p>
  </div>
</div>
