<div class="fixed bg-black-50 w-100 h-100 top-0 z-1 overflow-scroll tracked-med">
  <div class="bg-white w-50 center-ab pa4 overflow-scroll mh-90">
    <h2 class="mt0 pt0 fl">Square Photo</h2>
    <a class="cursor-pointer" href="javascript:void(0)" onclick="toggle_visibility('photo-overlay-add');"><img class="fr w1" src="{{ site.baseurl }}/images/close.png"></a>
    <div class="cf"></div>

    <div class="ba br2 b--light-silver b--dashed pa3 light-silver">Add or upload an asset below</div>

    <h3>Available Assets</h3>
    <div class="pa3 pr4 ba b--light-silver br2 move">
      <img class="fl w-25" src="{{ site.baseurl }}/images/dyslexia-square.jpg">
      <div class="fl w-75">
        <h3 class="mt0 ml3 f5 truncate w-100">dyslexia-brain-square-58450f536025893566554175fb17634ce5aa7496-s1300-c85.jpg</h3>
      </div>
      <div class="cf"></div>
    </div>

    <p class="mb0 pb0">or <a href="javascript:void(0)" onclick="toggle_visibility('photo-asset-tray');">upload a new asset</a></p>
    <div class="dn mt3 f6" id="photo-asset-tray">{% include asset-tray.html %}</div>
  </div>
</div>
