<div class="fixed bg-black-50 w-100 h-100 top-0 z-1 overflow-scroll tracked-med">
  <div class="bg-white w-50 center-ab pa4 overflow-scroll mh-90">
    <h2 class="mt0 pt0 fl">Series &amp; More</h2>
    <a class="cursor-pointer" href="javascript:void(0)" onclick="toggle_visibility('series-overlay');"><img class="fr w1" src="{{ site.baseurl }}/images/close.png"></a>
    <div class="cf"></div>
    <h3 class="f5">Find an Aggregation</h3>
    <input placeholder="start typing" class="w-100 outline-0 b--black pa2 f4 ba mb3" type="text" value="">

    <h3 class="f5 mb0">Or, select from a list</h3>
    <div class="w-50 fl pr2">
      <h3 class="mb1 f6">Blog Category</h3>
      <select class="mt1 f6 w-100">
        <option>Independent Story</option>
      </select>
    </div>
    <div class="w-50 fl pl2">
      <h3 class="mb1 f6">Series</h3>
      <select class="mt1 f6 w-100">
        <option>Independent Story</option>
      </select>
    </div>
    <div class="w-50 fl pr2">
      <h3 class="mb1 f6">Helper Collection</h3>
      <select class="mt1 f6 w-100">
        <option>Independent Story</option>
      </select>
    </div>
    <div class="w-50 fl pl2">
      <h3 class="mb1 f6">Music Genre</h3>
      <select class="mt1 f6 w-100">
        <option>Independent Story</option>
      </select>
    </div>
    <div class="w-50 fl pr2">
      <h3 class="mb1 f6">Book Genre</h3>
      <select class="mt1 f6 w-100">
        <option>Independent Story</option>
      </select>
    </div>
    <div class="cf"></div>
    <h3 class="f5 mt4">Add Tags</h3>
    <input placeholder="start typing" class="w-100 outline-0 b--black pa2 f4 ba" type="text" value="">

    <h3 class="f5 mt4">Add Artists</h3>
    <input placeholder="start typing" class="w-100 outline-0 b--black pa2 f4 ba mb4" type="text" value="">

    <a class="" href="javascript:void(0)" onclick="toggle_visibility('series-overlay'); toggle_visibility('topics-overlay');">&larr; Topics</a>
  </div>
</div>
