<ul class="list pl0">
  <li>Layout</li>
  <select class="mt1 mb2 f6 w-100">
    <option>News Story</option>
    <option>News Multimedia</option>
    <option>Music Story</option>
    <option>Music Multimedia</option>
    <option>Music Event</option>
    <option>Book Story</option>
    <option>Book Bestseller Story</option>
    <option>News Episode</option>
    <option>About NPR Page</option>
  </select>
  <li class="">Theme <a href="javascript:void(0)">edit</a></li>
  <li class=""><a href="javascript:void(0)">Convert To Blog</a></li>
  <li class="">Independence</li>
  <select class="mt1 mb2 f6 w-100">
    <option>Independent Story</option>
    <option>30 Seconds</option>
    <option>One Minute</option>
    <option>Two Minutes</option>
    <option>Five Minutes</option>
    <option>Ten Minutes</option>
    <option>Fifteen Minutes</option>
    <option>Thirty Minutes</option>
    <option>One Hour</option>
  </select>
  <li class="">Display Transcript <input class="ml2" type="checkbox"></li>
  <li class="">Do Not Syndicate <input class="ml2" type="checkbox"></li>
</ul>
