<div class="w-66 fl f6">
  <div class="ma4 mr0 ba br2">
    <h2 class="mt0 bb pa3 f4 bg-black-10">Story Editor</h2>
    <div class="pa3 mt0 pt0">
      <div>
        <h3 class="mv2">Headline</h3>
        <input placeholder="" class="w-100 outline-0 b--black pa2 f3 ba mb3" type="text" value="">
      </div>
      <div>
        <div class="">
          <h3 class="mv2">Teaser</h3>
          <input class="w-100 outline-0 b--black pt2 pl2 pb5 f6 ba mb3" type="text" value="">
        </div>
      </div>
      <div>
        <h3 class="mv2">Text</h3>
        <div class="serif f5 lh-copy ba pa3">
          <p class="pa0 ma0">This is a story about love and transformation. But first, it starts with resistance.</p>
          <p>At 75, Chanjae Lee absolutely hated the idea of learning this bizarre thing called Instagram. He had never used the Internet before, never once owned an email account, and never understood the concepts behind Google or Facebook. Why did he have to learn Instagram? It was because he missed his grandchildren, dearly.</p>
          <p>When they all lived in Brazil, Lee loved seeing his grandchildren every day: driving them to school, then picking them up, eating lunch together. But when they moved away to South Korea, where Lee originally emigrated from, he felt stuck and didn't know how to spend his extra time. He started watching Korean television. A lot of Korean television.</p>
          <div class="sans-serif f6">
            <div class="fl w-5 mr2">
              <a class="" href="javascript:void(0)" onclick="toggle_visibility('asset-tray');"><img class="dim" src="{{ site.baseurl }}/images/add-asset.svg"></a>
            </div>
            <div class="fl w-90 dn" id="asset-tray">{% include asset-tray.html %}</div>
            <div class="cf"></div>
          </div>
          <p>That worried his family. Lee's son Ji, a designer who works for Facebook and lives in New York, wanted to steer his father back into something more productive, like drawing again — as he used to do a lot when Ji was young.</p>
          <p class="mb0 pb0">What if his father could draw a picture, and then his mother — who's much more curious about the Internet and social media — could post it on Instagram? They tried it anyway, but the process was painstaking. Chanjae hadn't picked up a paintbrush in 35 years, and Ji struggled to coach his mom over the phone on how to angle shots and use filters. After a few months, they were ready to give up the hassle. That's when Ji's own son, Astro, was born — and everything changed.</p>
        </div>
      </div>
    </div>
  </div>
</div>
