<div class="w-66 fl f6">
  <div class="ma4 mr0 ba br2">
    <h2 class="mt0 bb pa3 f4">Story Editor</h2>
    <div class="pa3 mt0 pt0">
      <div>
        <h3 class="mv2">Headline</h3>
        <input class="w-100 outline-0 b--black pa2 f3 ba mb3" type="text" value="">
      </div>
      <div>
        <div class="w-50 fl pr2">
          <h3 class="mv2">Teaser</h3>
          <input class="w-100 outline-0 b--black pt2 pl2 pb6 f6 ba mb3" type="text" value="">
        </div>
        <div class="w-50 fl pl2">
          <h3 class="mv2">Mini Teaser</h3>
          <input class="w-100 outline-0 b--black pt2 pl2 pb6 f6 ba mb3" type="text" value="">
        </div>
      </div>
      <div>
        <h3 class="mv2">Text</h3>
        <input class="w-100 outline-0 b--black f6 ba pt2 pl2 pb6" type="text" value="">
      </div>
    </div>
  </div>
</div>
