<div class="fixed bg-black-50 w-100 h-100 top-0 z-1 overflow-scroll tracked-med">
  <div class="bg-white w-50 center-ab pa4 overflow-scroll mh-90">
    <h2 class="mt0 pt0 fl">Topics</h2>
    <a class="cursor-pointer" href="javascript:void(0)" onclick="toggle_visibility('topics-overlay');"><img class="fr w1" src="{{ site.baseurl }}/images/close.png"></a>
    <div class="cf"></div>
    <a class="mt3" href="javascript:void(0)" onclick="toggle_visibility('series-overlay'); toggle_visibility('topics-overlay');">Series &amp; More &rarr;</a>
  </div>
</div>
