<div class="fixed bg-black-50 w-100 h-100 top-0 z-1 overflow-scroll tracked-med">
  <div class="bg-white w-50 center-ab pa4 overflow-scroll mh-90">
    <h2 class="mt0 pt0 fl">Topics</h2>
    <a class="cursor-pointer" href="javascript:void(0)" onclick="toggle_visibility('topics-overlay');"><img class="fr w1" src="{{ site.baseurl }}/images/close.png"></a>
    <div class="cf"></div>

    <div class="mb5">
      <h4 class="f5 mb0">News</h4>
      <ul class="list pl0 lh-copy mt2">
        <li class=""><input class="" type="checkbox"> Home Page Top Stories</li>
        <li class=""><input class="" type="checkbox"> U.S.</li>
        <li class=""><input class="" type="checkbox"> Politics</li>
        <li class=""><input class="" type="checkbox"> World</li>
        <li class=""><input class="" type="checkbox"> NPR News Investigations</li>
        <li class=""><input class="" type="checkbox"> Opinion</li>
        <li class=""><input class="" type="checkbox"> Business</li>
        <li class=""><input class="" type="checkbox"> Technology</li>
        <li class=""><input class="" type="checkbox"> Science</li>
        <li class=""><input class="" type="checkbox"> Health</li>
        <li class=""><input class="" type="checkbox"> Analysis</li>
        <li class=""><input class="" type="checkbox"> Sports</li>
        <li class=""><input class="" type="checkbox"> Race</li>
        <li class=""><input class="" type="checkbox"> Religion</li>
        <li class=""><input class="" type="checkbox"> History</li>
      </ul>

      <h4 class="f5 mb0">Arts &amp; Life</h4>
      <ul class="list pl0 lh-copy mt2">
        <li class=""><input class="" type="checkbox"> Books</li>
        <li class=""><input class="" type="checkbox"> Movies</li>
        <li class=""><input class="" type="checkbox"> Pop Culture</li>
        <li class=""><input class="" type="checkbox"> Food</li>
        <li class=""><input class="" type="checkbox"> Art &amp; Design</li>
        <li class=""><input class="" type="checkbox"> Performing Arts</li>
        <li class=""><input class="" type="checkbox"> Games &amp; Humor</li>
        <li class=""><input class="" type="checkbox"> Strange News</li>
      </ul>

      <h4 class="f5 mb0">Music</h4>
      <ul class="list pl0 lh-copy mt2">
        <li class=""><input class="" type="checkbox"> Music Videos</li>
        <li class=""><input class="" type="checkbox"> Studio Sessions</li>
        <li class=""><input class="" type="checkbox"> Music Reviews</li>
        <li class=""><input class="" type="checkbox"> Music Interviews</li>
        <li class=""><input class="" type="checkbox"> Music News</li>
        <li class=""><input class="" type="checkbox"> Music Lists</li>
        <li class=""><input class="" type="checkbox"> Music Quizzes</li>
        <li class=""><input class="" type="checkbox"> Concerts</li>
      </ul>

      <h4 class="f5 mb0">Miscellaneous</h4>
      <ul class="list pl0 lh-copy mt2">
        <li class=""><input class="" type="checkbox"> Interviews</li>
        <li class=""><input class="" type="checkbox"> Rememberances</li>
        <li class=""><input class="" type="checkbox"> Story of the Day</li>
        <li class=""><input class="" type="checkbox"> Multimedia</li>
      </ul>
    </div>

    <div class="mb5">
      <h3 class="f4 mb2">Primary Topic</h3>
      <select class="mt0 f6 w-100">
        <option>Set Primary Topic</option>
      </select>
    </div>

    <a class="pt5" href="javascript:void(0)" onclick="toggle_visibility('series-overlay'); toggle_visibility('topics-overlay');">Series &amp; More &rarr;</a>

  </div>
</div>
