<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Various overlays that are hidden until their respective 'edit' links are clicked -->
    <div id="photo-overlay-edit" class="dn">{% include photo-overlay-edit.html %}</div>
    <div id="photo-overlay-add" class="dn">{% include photo-overlay-add.html %}</div>
    <div id="audio-overlay" class="dn">{% include audio-overlay.html %}</div>

    {% include header.html %}

    <div>
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
